@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Playfair+Display:ital,wght@0,700;0,800;1,700&family=Roboto+Slab:wght@300;400;500;600&display=swap');

body {
	background-color: #F0ECDF;
    font-size: 16px; /*1em = 16px*/
}

header{
	text-align: center;
	color: #F0ECDF;
	padding-bottom: 40px;
}
nav {
	background-color: #597463;
	height: 4em;
	display: block;
}

nav a:hover {
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-weight: 700;
}

main{
	width: 900px;
	margin: auto;
	color: #4A4A4A;
}

footer {
	background-color: #597463;
	color: #F0ECDF; 
	height: 300px;
}

h1, h2 {
	line-height: 1.25;
	padding: 20px, 0;
}

h1 {
	font-family: 'Roboto Slab', serif;
	font-weight: 400; 
	font-size: 1.25em;
	padding-bottom: .5em;
}

h2 {
	font-family: 'Playfair Display', serif;
	font-weight: 700; 
	font-size: 1.5em;
	padding-bottom: 1em
}

h3 {
	font-family: 'Playfair Display', serif;
	font-weight: 700; 
	font-size: 2em;
}

p {
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	line-height: 1.5em;
}

a {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	color: #4A4A4A;
}

.navlinks {
	float: right;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	color: #F0ECDF;
	text-decoration: none;
	padding: 25px 30px;
}

#navlogo {
	float: left;
	padding: 6px 0px 6px 20px;
	max-width: 35px;
	margin: auto;
}

#landing {
	background: url(images/profile-banner-sage.png) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 350px;
	padding-top: 200px;
}

#landing h2 {
	font-size: 4em;
}
	

.sectionhead {
	text-align: center;
	margin: auto;
	padding-top: 80px
}

.content {
	text-align: left;
	width: 800px;
	margin:20px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}

.services {
	width: 280px;
	flex-grow: 1;
	padding-bottom: 25px;
}

.services img {
	float: left;
	margin-top: 5px;
	margin-right: 20px;

}

.services a {
	background-color: wheat; 
	line-height: 2.5em;
	text-decoration: none;
}

#dogportraits {
	display: flex;
	flex-flow: row wrap;
}

#dogportraits img {
	width: 250px;
	margin:8px;
}

#about img {
	float: left;
	margin: 0 20px 0px 0;
	width: 350px;
}

#about p {
	margin: 0;
	padding: 0;
}

.contact {
	float: left;
	width: 400px;
  	height: 300px;
  	padding:;
	margin: 20px auto;
}

#contactleft {
 
}

#contactright {
	display: block;

}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.social {
	width: 400px;
	margin: auto;
	padding: 40px, 0;
	display: flex;
	justify-content: space-evenly;

}

#footerlogo {
	display: block;
	margin: auto;
	padding: 40px;
}
